---
import Section from "../../layouts/Section.svelte"
import ProjectCard from "./ProjectCard.svelte"

---

<Section 
	sectionId="my-work"
	bgColor="bg-dark-electric-blue" 
	svgWaveBottom="/assets/waves/WaveMyWork.svg"
>
	<h1 class="text-h2 font-Fjalla pb-10">My work</h1>
	<div class="flex flex-row flex-wrap gap-5 justify-center items-center">
		<ProjectCard />
		<ProjectCard />
		<ProjectCard />
		<ProjectCard />
	</div>

</Section>
