---
import Section from "../../layouts/Section.svelte";
import MyWorkHeader from "./MyWorkHeader.svelte";
import Projects from "./Projects.svelte";
---

<Section 
	sectionId="my-work"
	bgColor="bg-dark-electric-blue" 
	svgWaveBottom="/assets/waves/WaveMyWork.svg"
	className="py-20"
>
	<MyWorkHeader client:load />
	<Projects client:load />
</Section>
