---
import Section from "../../layouts/Section.svelte"
---

<Section 
	sectionId="my-work"
	bgColor="bg-dark-electric-blue" 
	svgWaveBottom="/assets/waves/WaveMyWork.svg"
>
	<h1>My work</h1>

</Section>
