---
import Section from "../../layouts/Section.svelte"
import ProjectCard from "./ProjectCard.svelte"

let projects = [
    {
      title: "Titulo 1",
      description:
        "Dolor aliqua officia esse ipsum nulla laborum laborum sit ex Lorem veniam esse esse tempor",
      image: "https://picsum.photos/id/1050/692/456",
      link: "https://github.com/Appithe",
    },
    {
      title: "Titulo 2",
      description:
        "Dolor aliqua officia esse ipsum nulla laborum laborum sit ex Lorem veniam esse esse tempor",
      image: "https://picsum.photos/id/1060/692/456",
      link: "https://github.com/Appithe",
    },
    {
      title: "Titulo 3",
      description:
        "Dolor aliqua officia esse ipsum nulla laborum laborum sit ex Lorem veniam esse esse tempor",
      image: "https://picsum.photos/id/1070/692/456",
      link: "https://github.com/Appithe",
    },
    {
      title: "Titulo 4",
      description:
        "Dolor aliqua officia esse ipsum nulla laborum laborum sit ex Lorem veniam esse esse tempor",
      image: "https://picsum.photos/id/1080/692/456",
      link: "https://github.com/Appithe",
    },
  ];

---

<Section 
	sectionId="my-work"
	bgColor="bg-dark-electric-blue" 
	svgWaveBottom="/assets/waves/WaveMyWork.svg"
	className="py-20"
>
  <div class="grid grid-cols-12 gap-5">
    <h2 class="text-h2 font-Fjalla pb-10 col-start-2 col-span-2">My work</h2>
  </div>
  <div class="flex flex-wrap gap-5 justify-center items-center">
    {
      projects.map(({title, description, image, link}) => {
        return <ProjectCard 
            title={title}
            description={description}
            image={image}
            link={link}
        /> 
      })
    }
  </div>

</Section>
