---
import Section from "../../layouts/Section.svelte"
---

<Section 
	sectionId="skills" 
	bgColor="bg-charcoal" 
	svgWaveBottom="/assets/waves/WaveSkills.svg"
	className="p-20"
>
	<h1 class="text-h2 font-Fjalla pb-10">Skills</h1>

</Section>
