---

import Section from "../../layouts/Section.svelte"


---

<Section sectionId="about" bgColor="bg-dark-electric-blue" svgWaveBottom="/assets/waves/WaveAbout.svg">
	<h1 class="text-h1 font-Fjalla">Hi!</h1>
	<h1 class="text-h1 font-Fjalla">I'm Joel Aviles</h1>

	<p class="text-p font-Libre">
		My name is Jesús Joel Avilés Bermúdez. 
		I'm junior Frontend Developer with interests
		in UX/UI, Design Thinking & SCRUM.
		And i'm looking to my first job
	</p>

</Section>
