---
import MainHead from '../components/MainHead.astro';
import Navbar from '../components/Navbar/Navbar.astro';

import About from '../components/About/About.astro';
import MyWork from '../components/MyWork/MyWork.astro';
import Skills from '../components/Skills/index.astro';

import Footer from '../components/Footer/Footer.astro';
// TODO: make all responsive

const lang = 'en';
---

<html lang={lang} class="scroll-smooth overflow-x-hidden">
	<head>
		<MainHead
			title="Joel Aviles | Frontend Developer"
			description="Joel Aviles: Junior Web Developer, UI/UX Designer"
		/>
	</head>
	<body class="inset-0">
		<Navbar />
		
		<About/>
		<MyWork/>
		<Skills/>

		<Footer/>
	</body>
</html>
