---
import MainHead from '../components/MainHead.astro';
import Navbar from '../components/Navbar/index.astro';
import Footer from '../components/Footer.astro';

---

<html lang="en">
	<head>
		<MainHead
			title="Joel Aviles: Personal Site"
			description="Joel Aviles: Junior Web Developer, UI/UX Designer"
		/>
	</head>
	<body>
		<Navbar />
		
		<Footer />
	</body>
</html>
