---

import Nav from "./Nav.svelte";
import NavLinks from "./NavLinks.svelte"
import { NavLink } from "./NavLink";
import { NavBrand } from "./NavBrand";
import { NavButton } from "./NavButton"

// FIXME: onclick is not working when is send as a prop to Button component  
function onChangeLanguage() {
	console.log("change language");
};

---

<Nav>
	<NavBrand title="Joel Aviles" />
	<NavLinks>
			<NavLink message='About' href='#about'/>
			<NavLink message='Work' href='#my-work'/>
			<NavLink message='Skills' href='#skills'/>
			<NavLink message='Get in touch' href='#footer'/>
	</NavLinks>
	<NavButton client:visible onClick={onChangeLanguage} message='ESP / ENG'/>
</Nav>