---

import { Nav } from "./Nav";
import { NavLinks } from "./NavLinks"
import { NavBrand } from "./NavBrand";
import { SelectLanguage } from "./SelectLanguage";

---

<Nav>
	<NavBrand title="Joel Avilés" />
	<NavLinks client:visible/>
	<SelectLanguage client:visible/>
</Nav>